<%= form_for(@redux) do |f| %>
  <% if @redux.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redux.errors.count, "error") %> prohibited this redux from being saved:</h2>

      <ul>
      <% @redux.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
